*{ 
    margin: 0;
    padding: 0;
}
body {
    padding-top: 50px; /* espacio arriba */
    background-color: olive;
}
.galeria {
    width: 90%; /* ancho relativo al body*/
    margin: 0 auto; /*centrar galeria*/

}
.galeria img, 
.galeria a{
    display:block;
    width: 100%; /* ancho relativo a la galeria */

} 
.galeria a:not(:first-child) {
    margin-top: 20px;
}
@media screen and (min-width: 501px){
    .galeria {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .galeria a {
        width: 48%;
        margin-bottom: 4%;
    } /* el margen inferior toma de referencia el ancho */
}
.galeria a:not(:first-child) {
    margin-top: 0;
} /* cuando hay un selector especifico la unica manera de reveritrlo es con el mismo selector */

@media screen and (min-width:901px){
    .galeria {
        justify-content: flex-start;
    }
    .galeria a {
        width: 31%;
        margin-bottom: 2%;
    }
    .galeria a:nth-child(3n+2) {
        margin-left: 2%;
        margin-right: 2%;
    }
}
@media screen and (min-width:1201px){
    .galeria {
        width: 1200px;
    }
}